* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: purple;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.home h1 {
    padding: 12px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: white;
}

.home h1:hover {
    color: red;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.links {
    display: flex;
    gap: 50px;
}

.link-texto:hover {
    color: red;
}

.container {
    margin-top: 30px;
}

.container h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.links-container {
    text-align: center;
    padding-top: 12px;
}

.link-container:hover {
    color: red;
}

.image {
    justify-content: space-between;
    display: flex;
    padding: 20px;
    cursor: pointer;
}

.link-image {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 0, 255);
    border-radius: 10px;
    overflow: hidden;

}

.link-image:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
}

.link-image img {
    width: 100%;
    height: 150px;
}

.link-image h2 {
    font-size: 20px;
    color: #ddd;
    text-align: center;
}

h2 button {
    background: rgb(255, 0, 255);
    border-radius: 6px;
    cursor: pointer;
    color: #ddd;
    border: none;
    font-size: 20px;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

h2:before,
h2:after {
    background-color: #ddd;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.5em;
}

h2:before {
    margin-right: 10px;
}

h2:after {
    margin-left: 10px;
}

.title-image {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.title-image h1:hover {
    color: red;
    cursor: pointer;
}

.sobre {
    margin-top: 30px;
    background-color: rgb(155, 0, 155);
}

.sobre h1 {
    display: flex;
    color: white;
    padding-top: 20px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.sobre p {
    color: white;
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
    margin-left: 12px;
}

.title-mais-produtos {
    color: white;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.title-mais-produtos h1:hover {
    color: red;
    cursor: pointer;
}

.quero-mais-produtos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    cursor: pointer;
}

.link-image {
    margin-top: 7px;
}