* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.container h1 {
    border-left: 6px solid red;
    color: white;
    padding: 12px;
    cursor: pointer;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: coral;
}

