* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.header {
    background-color: rgb(130, 32, 221);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

h1 {
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.links {
    display: flex;
    gap: 50px;
}

.texto-link:hover {
    color: brown;
}

.texto-link {
    font-size: 20px;
    /*font-weight: bold;*/
    text-transform: capitalize;
}

.animes {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}

.card-anime {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: darkgoldenrod;
    border-radius: 10px;
    overflow: hidden;
    
}

.card-anime:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: rotate(45deg) scale(1.3);
}

.card-anime img{
    width: 100%;
    height: 150px;
    /*margin-bottom: 30px;*/
}

.card-anime h2{
   font-size: 15px;
   color: cadetblue;
   text-align: center;
   /*margin-top: 30px;*/
}