* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(132, 105, 253);
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.home h1 {
    border-left: 6px solid red;
    color: white;
    padding: 12px;
    cursor: pointer;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.links {
    display: flex;
    gap: 50px;
}

.link-texto:hover {
    color: red;
    font-size: 22px;
}

.link-texto:active {
    color: blue;
}