* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 0, 200);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
}

.title-atelier {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 30px;
    cursor: pointer;
}

.title-atelier h1:hover {
    color: rgb(0, 4, 255);
}

.s_links {
    display: flex;
    padding-bottom: 50px;
    margin-top: 10px;
    justify-content: center;
}

.link {
    display: flex;
    gap: 30px;
}

.link-texto:hover {
    color: rgb(0, 4, 255);
}

a {
    text-decoration: none;
    color: white;
}

.image {
    justify-content: space-between;
    display: flex;
    padding: 20px;
    cursor: pointer;
}

.link-image {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 93, 220);
    border-radius: 10px;
    overflow: hidden;

}

.link-image:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
}

.link-image img {
    width: 100%;
    height: 150px;
}

.link-image h2 {
    font-size: 20px;
    color: #ddd;
    text-align: center;
}

h2 button {
    background: rgb(255, 93, 220);
    border-radius: 6px;
    cursor: pointer;
    color: #ddd;
    border: none;
    font-size: 20px;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

h2:before,
h2:after {
    background-color: #ddd;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.5em;
}

h2:before {
    margin-right: 10px;
}

h2:after {
    margin-left: 10px;
}

.title-image {
    display: flex;
    justify-content: center;
}

.title-image h1:hover {
    color: rgb(0, 4, 255);
    cursor: pointer;
}

.sobre {
    margin-top: 30px;
    background-color: rgb(255, 0, 200);
}

.sobre h1 {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.sobre p {
    padding-top: 8px;
    margin-left: 12px;
}

.title-mais-produtos {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.title-mais-produtos h1:hover {
    color: rgb(0, 4, 255);
    cursor: pointer;
}

.quero-mais-produtos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    cursor: pointer;
}

.link-image {
    margin-top: 7px;
}