* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #666;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

ul li {
    margin-right: 12px;
}

ul li a {
    color: #fff;
}

h1 {
    font-size: 32px;
}

img {
    border: 1px solid rgb(55, 0, 255);
}

footer {
    padding: 20px;
    border-top: 1px solid #666;
    margin-top: 20px;
}

iframe {
    border: 1px solid rgb(55, 0, 255);
}

th,
td {
    border: 1px solid black;
    border-radius: 10px;
    border-color: #6d058d;
}

table {
    width: 100%;
}

table caption {
    width: 100%;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #e90c0c;
}

tr:hover {
    background-color: #0804ff;
}